<md-card-title>Bonita BPM Activity and Task</md-card-title>

<md-card-subtitle>
    <md-checkbox 
        [checked]="passedTestBPMActivitySearchActivities"
        [disabled]="true" >
    </md-checkbox>
    searchActivities
</md-card-subtitle>
<md-card-content>
    Activity: {{activity?.name}}
</md-card-content>

<md-card-subtitle>
    <md-checkbox 
        [checked]="passedTestBPMActivityGetActivity"
        [disabled]="true" >
    </md-checkbox>
    getActivity
</md-card-subtitle>
<md-card-content>
    Activity Id: {{activity?.id}}
</md-card-content>

<md-card-subtitle>
    <md-checkbox 
        [checked]="passedTestBPMHumanTaskSearchHumanTasks"
        [disabled]="true" >
    </md-checkbox>
    searchHumanTasks
</md-card-subtitle>
<md-card-content>
    Human Task: {{humanTask?.name}}
</md-card-content>

<md-card-subtitle>
    <md-checkbox 
        [checked]="passedTestBPMHumanTaskGetHumanTask"
        [disabled]="true" >
    </md-checkbox>
    getHumanTask
</md-card-subtitle>
<md-card-content>
    Human Task Id: {{humanTask?.id}}
</md-card-content>

<md-card-subtitle>
    <md-checkbox 
        [checked]="passedTestBPMTaskSearchTasks"
        [disabled]="true" >
    </md-checkbox>
    searchTasks
</md-card-subtitle>
<md-card-content>
    Task: {{task?.name}}
</md-card-content>

<md-card-subtitle>
    <md-checkbox 
        [checked]="passedTestBPMTaskGetTask"
        [disabled]="true" >
    </md-checkbox>
    getTask
</md-card-subtitle>
<md-card-content>
    Task Name: {{task?.name}} ({{task?.id}})
</md-card-content>

<md-card-subtitle>
    <md-checkbox 
        [checked]="passedTestBPMUserTaskGetUserTask"
        [disabled]="true" >
    </md-checkbox>
    getUserTask
</md-card-subtitle>
<md-card-content>
    User Task: {{userTask?.name}} ({{userTask?.id}})
</md-card-content>

<md-card-subtitle>
    <md-checkbox 
        [checked]="passedTestBPMUserTaskGetUserTaskContext"
        [disabled]="true" >
    </md-checkbox>
    getUserTaskContext
</md-card-subtitle>
<md-card-content>
    User Task Context: {{userTaskContext | json}})
</md-card-content>

<md-card-subtitle>
    <md-checkbox 
        [checked]="passedTestBPMUserTaskAssignUserTask"
        [disabled]="true" >
    </md-checkbox>
    assignUserTask
</md-card-subtitle>
<md-card-content>
    User Task Assign: {{userTask?.name}} => {{assignUserName}} = ({{assignUserTaskResponse | json}})
</md-card-content>