<md-card-title>Bonita BPM Activity and Task</md-card-title>

<md-card-subtitle>
    <md-checkbox 
        [checked]="passedTest_BpmActivity_searchActivities"
        [disabled]="true" >
    </md-checkbox>
    searchActivities
</md-card-subtitle>
<md-card-content>
    Activity: {{activity?.name}}
</md-card-content>

<md-card-subtitle>
    <md-checkbox 
        [checked]="passedTest_BpmActivity_getActivity"
        [disabled]="true" >
    </md-checkbox>
    getActivity
</md-card-subtitle>
<md-card-content>
    Activity Id: {{activity?.id}}
</md-card-content>

<md-card-subtitle>
    <md-checkbox 
        [checked]="passedTest_BpmHumanTask_searchHumanTasks"
        [disabled]="true" >
    </md-checkbox>
    searchHumanTasks
</md-card-subtitle>
<md-card-content>
    Human Task: {{humanTask?.name}}
</md-card-content>

<md-card-subtitle>
    <md-checkbox 
        [checked]="passedTest_BpmHumanTask_getHumanTask"
        [disabled]="true" >
    </md-checkbox>
    getHumanTask
</md-card-subtitle>
<md-card-content>
    Human Task Id: {{humanTask?.id}}
</md-card-content>

<md-card-subtitle>
    <md-checkbox 
        [checked]="passedTest_BpmTask_searchTasks"
        [disabled]="true" >
    </md-checkbox>
    searchTasks
</md-card-subtitle>
<md-card-content>
    Task: {{task?.name}}
</md-card-content>

<md-card-subtitle>
    <md-checkbox 
        [checked]="passedTest_BpmTask_getTask"
        [disabled]="true" >
    </md-checkbox>
    getTask
</md-card-subtitle>
<md-card-content>
    Task Name: {{task?.name}} ({{task?.id}})
</md-card-content>

<md-card-subtitle>
    <md-checkbox 
        [checked]="passedTest_BpmUserTask_getUserTask"
        [disabled]="true" >
    </md-checkbox>
    getUserTask
</md-card-subtitle>
<md-card-content>
    User Task: {{userTask?.name}} ({{userTask?.id}})
</md-card-content>

<md-card-subtitle>
    <md-checkbox 
        [checked]="passedTest_BpmUserTask_getUserTaskContext"
        [disabled]="true" >
    </md-checkbox>
    getUserTaskContext
</md-card-subtitle>
<md-card-content>
    User Task Context: {{userTaskContext | json}})
</md-card-content>

<md-card-subtitle>
    <md-checkbox 
        [checked]="passedTest_BpmUserTask_assignUserTask_ToSpecificUser"
        [disabled]="true" >
    </md-checkbox>
    assignUserTask To Specfic User
</md-card-subtitle>
<md-card-content>
    User Task Assign: {{userTask?.name}} => {{assignUserName}}<br><br>
    User Task Assign Response: {{assignUserTask_ToSpecificUser_Response | json}}
</md-card-content>

<md-card-subtitle>
    <md-checkbox 
        [checked]="passedTest_BpmUserTask_assignUserTask_ToCurrentUser"
        [disabled]="true" >
    </md-checkbox>
    assignUserTask To Current User
</md-card-subtitle>
<md-card-content>
    User Task Assign: {{userTask?.name}} => <i>Current Logged User</i><br>
    User Task Assign Response: {{assignUserTask_ToCurrentUser_Response | json}}
</md-card-content>

<md-card-subtitle>
    <md-checkbox 
        [checked]="passedTest_BpmUserTask_executeUserTask"
        [disabled]="true" >
    </md-checkbox>
    executeUserTask
</md-card-subtitle>
<md-card-content>
    User Task Contract: {{userTaskContract | json}}<br>
    User Task Execution Response: {{executeUserTaskResponse | json}}
</md-card-content>