<md-card-title>Bonita BPM Process</md-card-title>

<md-card-subtitle>
    <md-checkbox 
        [checked]="passedTest_BpmProcess_searchProcessDefinitions"
        [disabled]="true" >
    </md-checkbox>
    searchProcessDefinitions
</md-card-subtitle>
<md-card-content>
    Process: {{processDefinition?.name}} ({{processDefinition?.version}})
</md-card-content>


<md-card-subtitle>
    <md-checkbox 
        [checked]="passedTest_BpmProcess_getProcessDefinition"
        [disabled]="true" >
    </md-checkbox>
    getProcessDefinition
</md-card-subtitle>
<md-card-content>
    Process Id: {{processDefinition?.id}}
</md-card-content>

<md-card-subtitle>
    <md-checkbox 
        [checked]="passedTest_BpmProcess_createCase"
        [disabled]="true" >
    </md-checkbox>
    createCase
</md-card-subtitle>
<md-card-content>
    Status: {{createCaseSuccessResponse?.status}} - {{createCaseSuccessResponse?.statusText}}
    <br>
    Case Id: {{createCaseSuccessResponse?.caseId}}
</md-card-content>