<md-card-subtitle>
    <md-checkbox 
        [checked]="false"
        [disabled]="true" >
    </md-checkbox>
    Material Design Autocomplete
</md-card-subtitle>
<md-card-content>

    <md-input-container>
    <input [formControl]="stateCtrl" mdInput placeholder="State" [mdAutocomplete]="auto" >
    </md-input-container>

    <md-autocomplete #auto="mdAutocomplete">
    <md-option *ngFor="let state of filteredStates | async" [value]="state">
        {{ state }}
    </md-option>
    </md-autocomplete>

</md-card-content>