<md-card-title>Bonita File Upload</md-card-title>

<md-card-subtitle>
    <md-checkbox 
        [checked]="passedTest_FileUploadComponent"
        [disabled]="true" >
    </md-checkbox>
    FileUploadComponent
</md-card-subtitle>
<md-card-content *ngIf="!passedTest_FileUploadComponent">
    <bonita-file-upload
        [contractInputFile]="contractInputFile" 
        (onFileSelected)="test__FileUploadComponent($event)" >
    </bonita-file-upload>
    Press upload file button and select a PDF file...
</md-card-content>
<md-card-content *ngIf="passedTest_FileUploadComponent">
    filename: {{contractInputFile.filename}}<br>
    contentType: {{contractInputFile.contentType}}<br>
    tempPath: {{contractInputFile.tempPath}}
</md-card-content>

<md-card-subtitle>
    <md-checkbox 
        [checked]="passedTest_FileUploadTask"
        [disabled]="true" >
    </md-checkbox>
    File Upload Task
</md-card-subtitle>
<md-card-content *ngIf="passedTest_FileUploadTask">
    Contract Input: {{fileUploadContract | json }}<br>
    Response: {{response | json}}
</md-card-content>