<md-card-title>Bonita Business Data</md-card-title>

<md-card-subtitle>
    <md-checkbox 
        [checked]="passedTest_BusinessData_queryBusinessData"
        [disabled]="true" >
    </md-checkbox>
    queryBusinessData
</md-card-subtitle>
    Master Data Object: {{masterDataObject | json}} {{errorResponse | json}}
<md-card-content>

</md-card-content>

<md-card-subtitle>
    <md-checkbox 
        [checked]="passedTest_BpmData_getCaseVariable"
        [disabled]="true" >
    </md-checkbox>
    getCaseVariable
</md-card-subtitle>
<md-card-content>

</md-card-content>