<md-card-title>Bonita Business Data</md-card-title>

<md-card-subtitle>
    <md-checkbox 
        [checked]="passedTest_BusinessData_queryBusinessData"
        [disabled]="true" >
    </md-checkbox>
    queryBusinessData
</md-card-subtitle>
<md-card-content *ngIf="queryMasterDataObject != undefined">
    masterKey: {{queryMasterDataObject.masterKey}}<br>
    masterDate: {{queryMasterDataObject.masterDate}}<br>
    
    <md-list >
       <md-list-item *ngFor="let detail of queryMasterDataObject.details; let i = index;" > 
           detailKey: {{detail.detailKey}}<br>
           xrefKey: {{detail.xref.xrefKey}}
       </md-list-item>
    </md-list>

    masterBoolean: {{queryMasterDataObject.masterBoolean}}<br>
    masterDouble: {{queryMasterDataObject.masterDouble}}<br>
    masterFloat: {{queryMasterDataObject.masterFloat}}<br>
    masterInteger: {{queryMasterDataObject.masterInteger}}<br>
    masterLong: {{queryMasterDataObject.masterLong}}<br>
    masterText: {{queryMasterDataObject.masterText}}<br>
</md-card-content>

<md-card-subtitle>
    <md-checkbox 
        [checked]="passedTest_BusinessData_getBusinessData"
        [disabled]="true" >
    </md-checkbox>
    getBusinessData
</md-card-subtitle>
<md-card-content>
    persistenceId: {{getMasterDataObject?.persistenceId}}<br>
    persistenceVersion: {{getMasterDataObject?.persistenceVersion}}<br>
    masterKey: {{getMasterDataObject?.masterKey}}<br>
</md-card-content>

<md-card-subtitle>
    <md-checkbox 
        [checked]="passedTest_BusinessData_getBusinessDataFromContext"
        [disabled]="true" >
    </md-checkbox>
    getBusinessDataFromContext
</md-card-subtitle>
<md-card-content>
    persistenceId: {{contextMasterDataObject?.persistenceId}}<br>
    persistenceVersion: {{contextMasterDataObject?.persistenceVersion}}<br>
    masterKey: {{contextMasterDataObject?.masterKey}}<br>
</md-card-content>