<md-card-title>Bonita Business Data</md-card-title>

<md-card-subtitle>
    <md-checkbox 
        [checked]="passedTest_BusinessData_queryBusinessData"
        [disabled]="true" >
    </md-checkbox>
    queryBusinessData
</md-card-subtitle>
<md-card-content *ngIf="masterDataObject != undefined">
    masterKey: {{masterDataObject.masterKey}}<br>
    masterDate: {{masterDataObject.masterDate}}<br>
    
    <md-list >
       <md-list-item *ngFor="let detail of masterDataObject.details; let i = index;" > 
           {{detail.detailKey}}<br>
           {{detail.xref.xrefKey}}
       </md-list-item>
    </md-list>

    masterBoolean: {{masterDataObject.masterBoolean}}<br>
    masterDouble: {{masterDataObject.masterDouble}}<br>
    masterDouble: {{masterDataObject.masterDouble}}<br>
    masterFloat: {{masterDataObject.masterFloat}}<br>
    masterInteger: {{masterDataObject.masterInteger}}<br>
    masterLong: {{masterDataObject.masterLong}}<br>
    masterText: {{masterDataObject.masterText}}<br>
</md-card-content>

<md-card-subtitle>
    <md-checkbox 
        [checked]="passedTest_BpmData_getCaseVariable"
        [disabled]="true" >
    </md-checkbox>
    getCaseVariable
</md-card-subtitle>
<md-card-content>

</md-card-content>