.test-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    padding: 5px;
    background-color: #E8EAF6;
}

.test-item {
    align-self: auto;
    margin: 5px;
    flex-grow: 1;
}