<div class="test-container">

    <md-card class="test-item">
        <md-card-title>Bonita Authentication</md-card-title>
        <md-card-subtitle>
            <md-icon 
                [style.background-color] = "test_AuthenticationSessionPassed ? 'green': 'red'"
                class="md-24" svgIcon="action:done_black_24px">
            </md-icon>
            Bonita BPM Server Session
        </md-card-subtitle>
        <md-card-content>
            User Id: {{authenticationService.session.user_id}}
            <br>
            User Name: {{authenticationService.session.user_name}}
            <br>
            Session Id: {{authenticationService.session.session_id}}
        </md-card-content>
    </md-card>

    <md-card class="test-item">
        <md-card-title>Bonita BPM Activity and Task</md-card-title>
    </md-card>

    <md-card class="test-item">
        <md-card-title>Bonita BPM Data</md-card-title>
    </md-card>

    <md-card class="test-item">
        <md-card-title>Bonita BPM Process</md-card-title>
    </md-card>

    <md-card class="test-item">
        <md-card-title>Bonita BPM Business Data</md-card-title>
    </md-card>

    <md-card class="test-item">
        <md-card-title>Bonita File Upload</md-card-title>
    </md-card>

</div>