<div class="test-container">

    <md-card class="test-item">
        <test-authentication
            [testCase]="testCase" >
        </test-authentication>
    </md-card>

    <md-card *ngIf="testCase.isAuthorized" class="test-item">
        <test-bpm-process
            [testCase]="testCase" >
        </test-bpm-process>
    </md-card>

    <md-card *ngIf="testCase.caseId != undefined" class="test-item">
        <test-bpm-activity-task
            [testCase]="testCase" >
        </test-bpm-activity-task>
    </md-card>

    <md-card *ngIf="testCase.caseId != undefined" class="test-item">
        <test-bpm-data
            [testCase]="testCase" >
        </test-bpm-data>
    </md-card>

    <md-card *ngIf="testCase.businessDataContext != undefined" class="test-item">
        <test-business-data
            [testCase]="testCase" >
        </test-business-data>
    </md-card>

    <md-card *ngIf="testCase.caseId != undefined" class="test-item">
        <test-file-upload
            [testCase]="testCase" >
        </test-file-upload>
    </md-card>

</div>