<div class="test-container">

    <md-card class="test-item">
        <md-card-title>Bonita Authentication</md-card-title>

            <md-card-subtitle>
                <md-checkbox 
                    [checked]="passedTestAuthenticationSession"
                    [disabled]="true" >
                </md-checkbox>
                Bonita BPM Server Session
            </md-card-subtitle>
            <md-card-content>
                User Id: {{session?.user_id}}
                <br>
                User Name: {{session?.user_name}}
                <br>
                Session Id: {{session?.session_id}}
                <br>
                Token: {{session?.token}}
            </md-card-content>

    </md-card>

    <md-card class="test-item">
        <md-card-title>Bonita BPM Activity and Task</md-card-title>
            
            <md-card-subtitle>
                Sub 1
            </md-card-subtitle>
            <md-card-content>
                Sub 1 content
            </md-card-content>

            <md-card-subtitle>
                Sub 2
            </md-card-subtitle>
            <md-card-content>
                Sub 2 content
            </md-card-content>

    </md-card>

    <md-card class="test-item">
        <md-card-title>Bonita BPM Data</md-card-title>
    </md-card>

    <md-card class="test-item">
        <test-bpm-process>
        </test-bpm-process>
    </md-card>

    <md-card class="test-item">
        <md-card-title>Bonita BPM Business Data</md-card-title>
    </md-card>

    <md-card class="test-item">
        <md-card-title>Bonita File Upload</md-card-title>
    </md-card>

</div>